---

---

<!--=============== ABOUT ===============-->
<section class="about section" id="about">
  <span class="section__subtitle">My Intro</span>
  <h2 class="section__title">About Me</h2>

  <div class="about__container container grid">
    <div class="img__about"><img loading="lazy" src="assets/img/profile.jpeg" alt="" class="about__img"></div>

    <div class="about__data">
      <div class="about__info">
        <div class="about__box">
          <i class='bx bx-award about__icon'></i>
          <h3 class="about__title">Experience</h3>
          <span class="about__subtitle">+1 Years Working</span>
        </div>

        <div class="about__box">
          <i class="bx bx-briefcase-alt about__icon"></i>
          <h3 class="about__title">Completed</h3>
          <span class="about__subtitle">+10 Projects</span>
        </div>
      </div>

      <p class="about__description">
        I'm a software engineer based in Amman, exceptional websites developer (and occasionally designing), and
        everything in between.
      </p>

      <a href="#contact" class="button">Contact Me</a>
    </div>
  </div>
</section>