---
import Layout from '@/layouts/cheat-sheets.layout.astro';
---

<Layout
  lang="en"
  title="Cheat Sheets | Mohammad Abu Mattar"
  description="Personal website, to show my software engineering skills at web development."
>
  <h1>Cheat Sheets</h1>
</Layout>
