---

---

<!--=============== CONTACT ===============-->
<section class="contact section" id="contact">
  <span class="section__subtitle">Get in touch</span>
  <h2 class="section__title">Contact Me</h2>

  <div class="contact__container container grid">
    <div class="contact__content">
      <h3 class="contact__title">Talk to me</h3>
      <div class="contact__info">
        <div class="contact__card">
          <i class='bx bx-mail-send contact__card-icon'></i>
          <h3 class="contact__card-title">Email</h3>
          <span class="contact__card-data">mohammad.khaled@outlook.com</span>

          <a href="mailto:mohammad.khaled@outlook.com" target="_blank" class="contact__button">
            Write me <i class='bx bx-right-arrow-alt contact__button-icon'></i>
          </a>
        </div>

        <div class="contact__card">
          <i class='bx bxl-whatsapp contact__card-icon'></i>
          <h3 class="contact__card-title">Whatsapp</h3>
          <span class="contact__card-data">+962-79-650-332</span>

          <a href="https://api.whatsapp.com/send?phone=962790650332&text=Hello,%20more%20information!" target="_blank"
            class="contact__button">
            Write me <i class='bx bx-right-arrow-alt contact__button-icon'></i>
          </a>
        </div>

        <div class="contact__card">
          <i class='bx bxl-messenger contact__card-icon'></i>
          <h3 class="contact__card-title">Messenger</h3>
          <span class="contact__card-data">Mohammad Abu Mattar</span>

          <a href="http://m.me/mkabumattar" target="_blank" class="contact__button">
            Write me <i class='bx bx-right-arrow-alt contact__button-icon'></i>
          </a>
        </div>
      </div>
    </div>

    <div class="contact__content">
      <h3 class="contact__title">Write me your project</h3>

      <form action="" class="contact__form">
        <div class="contact__form-div">
          <label for="" class="contact__form-tag">Name</label>
          <input type="text" placeholder="Insert your name" class="contact__form-input">
        </div>

        <div class="contact__form-div">
          <label for="" class="contact__form-tag">Mail</label>
          <input type="email" placeholder="Insert your email" class="contact__form-input">
        </div>

        <div class="contact__form-div contact__form-area">
          <label for="" class="contact__form-tag">Project</label>
          <textarea name="" id="" cols="30" rows="10" placeholder="Write your project"
            class="contact__form-input"></textarea>
        </div>

        <button class="button">Send Message</button>
      </form>
    </div>
  </div>
</section>