.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    color: var(--first-color-alt);
    font-weight: var(--font-medium);
    transform: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:hover {
      color: var(--first-color-alt);
    }
  }

  &__menu {
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
    width: 90%;
    border-radius: 4rem;
    padding: 0.75rem 1rem;
    backdrop-filter: blur(10px);
    transition: 0.4s; /* for light mode animation */
    // display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.24rem;
    padding: 12px;
    border-radius: 5rem;
  }
}

/* Active link */
.active {
  &-link {
    background: linear-gradient(
      180deg,
      hsla(var(--first-hue), var(--sat), var(--lig), 1),
      hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
    );
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.2);
    color: var(--title-color);
  }
}

/* Change background header */
.scroll {
  &-header {
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
  }
}

/*=============== THEME ===============*/
.change {
  &-theme {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    transition: 0.3s;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &:hover {
      color: var(--first-color);
    }
  }
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.light-theme {
  .scroll {
    &-header {
      box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
    }
  }

  .nav {
    &__menu {
      background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
    }

    &__subtitle {
      color: var(--text-color);
    }
  }
}

/* For small devices */
@media screen and (max-width: 320px) {
  .nav {
    &__menu {
      padding: 1rem 1.5rem;
    }
  }
}

@media screen and (min-width: 375px) {
}

/* For medium devices */

@media screen and (min-width: 576px) {
  .nav {
    &__menu {
      width: 368px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 767px) {
}

/* For large devices */

@media screen and (min-width: 992) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
}
