---
import './style.scss'
---

<div class="comments">
  <script
    src="https://utteranc.es/client.js"
    repo="MKAbuMattar/portfolio"
    issue-term="url"
    theme="github-dark"
    crossorigin="anonymous"
    async
    client:visible
  ></script>
</div>
