---
  import SocialData from '../../data/social.json'
---

<!--=============== FOOTER ===============-->
<footer class="footer">
  <div class="footer__container container">
    <h1 class="footer__title">Mohammad Abu Mattar</h1>

    <ul class="footer__list">
      <li class="">
        <a href="#about" class="footer__link">About</a>
      </li>
      <li class="">
        <a href="#skills" class="footer__link">Skills</a>
      </li>
      <li class="">
        <a href="#work" class="footer__link">Portfolio</a>
      </li>
      <li class="">
        <a href="#contact" class="footer__link">Contact Me</a>
      </li>
    </ul>
  </div>
  <ul class="footer__social">
    {SocialData.map((result, index) => (
    <>
      <a href={result.url} target="__blank" class="footer__social-link" {index}>
        <i class={`bx bxl-${result.name}`}></i>
      </a>
    </>
    ))}
  </ul>

  <span class="footer__copy">All Copyrights Reserved &#169; 2019
    <span id="copyright"></span>,
    Made With ❤ By Mohammad Khaled Abu Mattar
  </span>

</footer>

<script is:inline>
  const paragraph = `<span> ${new Date().getFullYear() > 2019 && " - " + new Date().getFullYear()}</span>`
  document.getElementById('copyright').innerHTML = paragraph;
</script>