.footer {
  background-color: var(--first-color);

  &__container {
    padding: 2rem 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__link {
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      color: var(--title-color);
    }
  }

  &__title,
  &__link {
    color: var(--body-color);
  }

  &__divider {
    color: var(--body-color);
    user-select: none;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    &-link {
      background-color: var(--body-color);
      color: var(--first-color);
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 1rem;
      display: inline-flex;
      transition: 0.4s;
      border: 2px solid var(--body-color);

      &:hover {
        background-color: var(--first-color);
        color: #fff;
        border: 2px solid var(--body-color);
      }
    }
  }

  &__copy {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--normal-font-size);
  }

  &__Build {
    display: block;
    margin-top: 2rem;
    padding-bottom: 6.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-logo {
      width: 1rem;
      height: 1rem;
      margin: 0 0.2rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    &-link {
      color: var(--body-color);
      text-decoration: none;
      transition: 0.4s;

      &:hover {
        color: var(--title-color);
      }
    }
  }
}

/* For small devices */
@media screen and (max-width: 320px) {
}

@media screen and (min-width: 375px) {
}

/* For medium devices */

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
}

/* For large devices */

@media screen and (min-width: 992) {
  .footer {
    &__social {
      &-link {
        font-size: 1.25rem;
        padding: 0.4rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    &__social {
      &-link {
        font-size: 1.25rem;
        padding: 0.4rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    &__social {
      &-link {
        font-size: 1.25rem;
        padding: 0.4rem;
        border-radius: 0.5rem;
      }
    }
  }
}
