---
import DailyQuote from '@/components/DailyQuote';
import './style.scss';

const { DOMAIN_NAME } = import.meta.env;
---

<section class={'wrapper'}>
  <DailyQuote domain={DOMAIN_NAME} client:load />
</section>
