---
// styles
import '@/styles/normalize.scss';
import '@/styles/global.scss';

//ui
import Main from '@/ui/Main';

// components
import Metadata from '@/components/Metadata/index.astro';
import Navbar from '@/components/Navbar';
import Footer from '@/components/Footer';

// script
import Script from '@/script/index.script.astro';

export type Props = {
  lang: string;
  title: string;
  description: string;
};

const { lang, title, description } = Astro.props as Props;
---

<html lang={lang || 'en'}>
  <head>
    <script src="https://unpkg.com/mixitup@3.3.1" defer></script>
    <Metadata title={title} description={description} />
  </head>
  <body>
    <Main>
      <Navbar client:idle />
      <slot />
      <Footer />
    </Main>
    <Script />
  </body>
</html>
